backports.ssl-match-hostname==3.4.0.2
certifi==2015.9.6.2
colorama==0.3.3
decorator==4.0.4
Django==1.8.5
pathlib==1.0.1
psutil==3.2.2
python-dateutil==2.4.2
redis==2.10.3
six==1.10.0
sockjs-tornado==1.0.2
thefuck==3.1
tornado==4.2.1
tornado-redis==2.4.18
wheel==0.26.0
