body {
  padding-top: 50px;
}

.navbar-fixed-top {
  border: 0;
}

#messages { list-style-type: none; margin: 0; padding: 0;
  height: calc(100vh - 50px - 34px);
  overflow: auto;
}
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }

.messages {
  list-style-type: circle;
  margin: 0;
  padding: 0;
}
.messages > li {
  padding: 5px 10px;
}
.messages > li:nth-child(odd) {
  background: #eee;
}

#editorview {
  height: calc(100vh - 50px);
}

#editorAreas {
  height: 85%;
}

#output {
  height: 15%;
}

.CodeMirror{
  height: 100%;
}

#output {
  margin: 0;
}
