<html>
  <head>
    <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css">

    <script src="/static/js/lib/jquery.min.js" type="text/javascript"></script> 
    <script src="/static/js/lib/bootstrap.min.js" type="text/javascript"></script> 
    <script src="/static/js/home.js" type="text/javascript"></script> 
    <title>ColDE</title>


  </head>
  <body style="padding-top:60px">
    <div class="container">

      <nav style="" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ColDE</a>
          </div>
            <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="#" data-toggle="modal" data-target="#newProjectModal">New Project <span class="glyphicon glyphicon-folder-open"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/logout">Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="modal fade" id="newProjectModal" tabindex="-1" role="dialog" aria-labelledby="newProjectModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="newProjectModalLabel">New Project</h4>
            </div>
            <form action='project/new'>
              <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Please choose a name for the project:</label>
                        <input id="projectName" class="form-control" type="text" placeholder="Project Name" name='title'>
                    </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Done">
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="row">
        <h1>Hello {{ user.username }}!</h1>
      </div>

      <div class="row">
        <div class="col-md-12"><h2>Projects</h2></div>

        {% for project in user.projects.all() %}
          <div class="col-md-4 text-center">
            <div class="thumbnail">
              <div class="caption">
                <h3><a href='/project/{{ project.id }}'>{{ project.title }}</a></h3>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

    </div>
  </body>
</html>
